---
common-css:
  - "/assets/css/minimal.css"
  - "/assets/css/pygment_highlights.css"
---

<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: 'en' }}">
{% include head.html %}

<body>
  <div class="layout">
    {% include sidebar.html %}
    <main class="main">
      {{ content }}
      {% include footer.html %}
    </main>
  </div>
  {% if content contains '\(' or content contains '\[' or content contains '$$' %}
    {% include mathjax.html %}
  {% endif %}
</body>
</html>
