---
layout: base
---

{% include header.html type="post" %}

<article class="post-body">
  {{ content }}
</article>

{% if page.tags.size > 0 %}
  <div class="tags">
    tags:
    {% for tag in page.tags %}
      <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
    {% endfor %}
  </div>
{% endif %}

<div class="pager">
  {% if page.previous.url %}<a href="{{ page.previous.url | relative_url }}">&larr; {{ page.previous.title | strip_html }}</a>{% endif %}
  {% if page.next.url %}<a href="{{ page.next.url | relative_url }}">{{ page.next.title | strip_html }} &rarr;</a>{% endif %}
</div>
